################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlightManager/appsettings.Development.json
/FlightManager/appsettings.json
/FlightManager/bin/Debug/netcoreapp3.1/appsettings.json
