################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlightManager/appsettings.Development.json
/FlightManager/appsettings.json
