@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Admin"))
{
    <div>
        <a href="/Manager/GetAll?page=1&showPerPage=10&filterBy=Username" class="btn btn-primary text-center mb-2">View All Users</a>
    </div>

}

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    <div>
        <a href="/Reservation/IndexReservations?page=1" class="btn btn-primary text-center mb-2">View All Reservations</a>
    </div>
}
