/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
body {
    background-image: url("https://media.cntraveler.com/photos/5bcdf8e06965116f2b13ac7f/master/pass/Plane-wing_GettyImages-868986378.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #E1FAF9;
    max-width: 100%;
    max-height: 100%;
    background-size: 1920px 1080px;
}
/* Provide sufficient contrast against white background */
.btn-primary {
    color: #fff;
    background-color: #EF233C;
    border-color: #d92339;
}

.btn-primary:hover {
    background-color: #B10F2E;
    border-color: #9c0c27;
}

.btn-primary:focus {
    background-color: #EF233C;
    border-color: #d92339;
}
.btn-primary:active {
    background-color: #EF233C;
    border-color: #d92339;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #E1FAF9;
}

.index-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.btn-danger {
    background-color: #023C40;
    border-color: #023134;
}

.btn-danger:hover {
    background-color: #023134;
    border-color: #022b2e;
}

.btn-danger:active {
    background-color: #023C40;
    border-color: #023134;
}
.table{
    background-color: #E1FAF9;
}

.table-theme {
    color: #fff;
    background-color: #023C40;
    border-color: #326164;
}

.material-icons {
    font-size: 1rem !important;
}
